[user]
	name = Feroze Naina
	email = ferozenaina@gmail.com
[credential]
	helper = cache --timeout=3600

[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p
[push]
	default = matching
